:root {
  --color-primary-dark-blue: #011c44;
  --color-primary-light-blue: #2b7fff;
  --color-primary-white: #ffffff;
  --color-secondary-dark-blue: #011f4a;
  --color-secondary-light-gray: #747272;
  --color-secondary-dark-gray: #4a4a4a;
  --font-brand-primary: "Roboto", sans-serif;
  --font-brand-secondary: "Play", sans-serif;
}
