.link {
  color: var(--color-primary-dark-blue);
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover {
  color: var(--color-primary-light-blue);
}

.link-icon {
  fill: var(--color-primary-dark-blue);
  transition: fill 0.2s;
}

.link-icon:hover {
  fill: var(--color-primary-light-blue);
}
