.about-us-section {
  padding-top: 0;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 63px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }

  &__content {
    max-width: 710px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.7;
    color: var(--color-primary-dark-blue);

    @media screen and (min-width: $bp-tablet) {
      font-size: 22px;
      text-align: left;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-family: var(--font-brand-secondary);
    font-size: 32px;
    font-weight: 700;
    text-align: start;

    @media screen and (min-width: $bp-tablet) {
      font-size: 64px;
      margin-bottom: 40px;
    }
  }

  &__we-offer {
    margin-bottom: 40px;
  }

  &__we-guarantee {
    margin-bottom: 0;
  }

  &__woman-procedure {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      position: relative;
      display: block;
    }
  }

  &__woman-before {
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.2);
    transform: translateX(-169px);
  }

  &__icon-star-1 {
    width: 64px;
    height: 64px;
    position: absolute;
    left: -50px;
    bottom: 230px;
    fill: var(--color-secondary-dark-blue);
    animation: scale 5s infinite linear;
  }

  &__icon-star-2 {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 40px;
    fill: var(--color-primary-light-blue);
    animation: scale 4s infinite linear;
  }

  &__icon-star-3 {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 40px;
    top: 260px;
    fill: var(--color-secondary-light-gray);
    animation: scale 3s infinite linear;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  &__woman-after {
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.2);
    transform: translateY(40px);
  }
}
