.footer {
  position: relative;
  padding: 56px 0;
  background-image: url(../images/footer-background.png);
  background-color: var(--color-primary-dark-blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    position: absolute;
    width: 258px;
    height: 152px;
    right: -10px;
    bottom: 0;
    background-repeat: no-repeat;
    background-image: url("../images/decor-cosmetic-bottles.png");
    content: "";
  }

  &__content {
    display: flex;
    gap: 20px;
  }

  &__nav,
  &__address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
  }

  &__link,
  &__address-link {
    margin-bottom: 16px;
    font-size: 16px;
    color: var(--color-primary-white);
    text-decoration: none;
    transition: color 0.2s;

    &:hover,
    &:hover {
      color: var(--color-primary-light-blue);
    }
  }

  &__address-copyright {
    font-size: 13px;
    color: var(--color-secondary-light-gray);
  }

  &__contact-icons {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__contact-icon {
    width: 42px;
    height: 42px;
    fill: var(--color-primary-white);
    transition: fill 0.2s;

    &:hover {
      fill: var(--color-primary-light-blue);
    }
  }
}
