.form-terms {
  margin: 0 auto 8px;
  max-width: 220px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-secondary-light-gray);
}

.form-terms-link {
  color: var(--color-secondary-light-gray);
  text-decoration-skip-ink: none;
}
