.procedures-section {
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  &__list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: calc((100% - 32px) / 3);
  }
}
