.why-us-section {
  padding-top: 176px;

  &__list {
    display: flex;
    justify-content: center;
    gap: 56px;
  }

  &__item {
    border: 1px solid #0950d3;
    border-radius: 32px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
    background: var(--color-primary-white);
    padding: 24px 32px;
    max-width: 316px;
  }
}
