@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v47-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v47-latin-600.woff2") format("woff2");
}

:root {
  --color-brand-dark: #011c44;
  --color-brand-light: #2b7fff;
  --font-brand-primary: "Roboto", sans-serif;
  --font-brand-secondary: "Play", sans-serif;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-brand-dark);
  font-family: var(--font-brand-primary);
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.section {
  padding: 48px 0;
}

/* Section titles */

.section-title {
  font-family: var(--font-brand-secondary);
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: var(--color-brand-dark);
  margin-bottom: 48px;
}

.section-title .color-accent {
  color: var(--color-brand-light);
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-contacts {
  display: flex;
  gap: 32px;
}

/* Links */

.link {
  color: var(--color-brand-dark);
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
}

.link-icon img {
  color: var(--color-brand-dark);
}

.link-icon:hover {
  color: #fff;
}

/* Hero section */

.hero-section {
  padding-bottom: 63px;
}

.container-content {
  padding-left: 206px;
  max-width: 530px;
}

/* .hero-section .container {
  background-image: url("../images/hero-section-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 122px 0 126px 0;
} */

.hero-cosmetology-clinic {
  margin-bottom: 16px;
  font-size: 18px;
}

.hero-title {
  margin-bottom: 40px;
  font-family: var(--font-brand-secondary);
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
  text-transform: capitalize;
  color: var(--color-brand-light);
}

/* Hero button */

.button {
  margin-bottom: 14px;
  color: #fff;
  border-radius: 32px;
  background-color: var(--color-brand-light);
  padding: 16px 32px;
  cursor: pointer;
}

.button:hover {
  border: 2px solid var(--color-brand-light);
  background-color: transparent;
  color: var(--color-brand-dark);
}

.hero-free-consultation {
  font-size: 12px;
  line-height: 1.5;
  color: #4a4a4a;
}

/* About us section */

.about-us-section {
  padding: 63px 0 88px 0;
}

.about-us-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.about-us-content {
  max-width: 700px;
  font-size: 22px;
  line-height: 1.7;
  color: var(--color-brand-dark);
}

.about-us-title {
  margin-bottom: 40px;
  text-align: start;
  line-height: 1.5;
}

.about-us-title .brand-color-accent {
  color: var(--color-brand-light);
  text-transform: capitalize;
}

.we-offer {
  margin-bottom: 40px;
}

.we-guarantee {
  margin-bottom: 0;
}

.we-guarantee .brand-accent {
  font-weight: 600;
  text-transform: capitalize;
}

/* Why us section */

.why-us-section {
  padding-top: 88px;
}

.why-us-list {
  display: flex;
  justify-content: center;
  gap: 56px;
}

.why-us-item {
  border: 1px solid #0950d3;
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: #fff;
  padding: 24px 32px;
  max-width: 316px;
}

.why-us-card-text {
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #000;
}

.why-us-card img {
  display: block;
  margin: 0 auto;
  padding-bottom: 8px;
}

/* Our procedures section */
.our-procedures-container {
  max-width: 1064px;
}

.procedures-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}

/* Contact section */

.contact-section-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.contact-section-form-container {
  border-radius: 32px;
  padding: 48px 75px;
  background-color: var(--color-brand-dark);
  /* temporary, needs to be replaced by picture */
}

.contact-section-sign-up {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: #fff;
}

.contact-section-form-field {
  text-align: center;
}

.contact-section-sign-up .color-accent {
  color: var(--color-brand-light);
}

.contact-section-form-field input {
  margin-bottom: 16px;
  border-radius: 32px;
  padding: 18px 32.8px;
  font-size: 13px;
  color: #fff;
}

.contact-section-button {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 32px;
  padding: 16px 32px;
  background-color: var(--color-brand-light);
}

.form-terms {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #747272;
}

.form-terms-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #747272;
}

/* Footer section */

footer {
  padding-top: 48px;
}

.footer-container {
  background-color: var(--color-brand-dark);
  display: flex;
  justify-content: space-between;
  padding: 56px 100px;
}

.footer-link {
  margin-bottom: 16px;
  font-size: 16px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-address-link {
  margin-bottom: 16px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.contact-icons {
  display: flex;
  gap: 28px;
}

.footer-address-link:hover {
  text-decoration: underline;
}

.footer-address-copyright {
  font-size: 13px;
  color: #747272;
}
